<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.ProductMapper">
	<resultMap type="product" id="productDTO">
		<id property="pno" column="pno"/>
		<result property="pname" column="pname"/>
		<result property="ctno" column="ctno"/>
		<result property="cbno" column="cbno"/>
		<result property="seller" column="seller"/>
	</resultMap>
	<resultMap type="productDetail" id="productDetailDTO">
		<result property="pno" column="pno"/>
		<result property="price" column="price"/>
		<result property="ea" column="ea"/>
		<result property="image" column="image"/>
		<result property="detail" column="detail"/>
		<result property="maker" column="maker"/>
	</resultMap>
	<resultMap type="productFile" id="productFileDTO">
		<id property="fno" column="fno"/>
		<result property="pno" column="pno"/>
		<result property="path" column="path"/>
	</resultMap>
	<resultMap type="categoryTop" id="categoryTopDTO">
		<id property="ctno" column="ctno"/>
		<result property="ctname" column="ctname"/>
	</resultMap>
	<resultMap type="categoryBot" id="categoryBotDTO">
		<id property="cbno" column="cbno"/>
		<result property="ctno" column="ctno"/>
		<result property="cbname" column="cbname"/>
	</resultMap>
	
	
	<resultMap type="join" id="productJoin">
		<collection property="product" resultMap="productDTO"/>
		<collection property="productFile" resultMap="productFileDTO"/>
		<collection property="productDetail" resultMap="productDetailDTO"/>
		<collection property="categoryTop" resultMap="categoryTopDTO"/>
		<collection property="categoryBot" resultMap="categoryBotDTO"/>
	</resultMap>
	
	
	<!-- 해당 제품만 출력 -->
	<select id="selectProduct" parameterType="int" resultMap="productJoin">
		select * from product_info where pno = #{pno}
	</select>
	
	<!-- 제품 전체 출력 -->
	<select id="selectAllProduct" resultMap="productJoin" parameterType="int">
		select * from product_info order by  
		<choose>
			<when test="type==1">
				price
			</when>
			<when test="2">
				price desc 
			</when>
			<when test="3">
				ea 
			</when>
			<otherwise>
				pno desc
			</otherwise>
		</choose>
	</select>
	<select id="selectCaProduct" parameterType="map" resultMap="productJoin">
		select * from product_info where ${cate} = #{gory} order by pno desc
	</select>
	
	<select id="selectAllCategoryTop" resultType="categoryTop">
		select * from category_top
	</select>
	<select id="selectAllCategoryBot" resultType="categoryBot">
		select * from category_bot
	</select>
	<select id="selectProductCount" resultType="int">
		select count(*) from product
	</select>
	
	<select id="selectPathList" resultType="productFile" parameterType="int">
		select * from product_file where pno = #{pno}
	</select>
	<select id="selectFilePath" parameterType="map" resultType="String">
		select path from product_file where pno = #{pno} and fno = #{fno}
	</select>
	<select id="selectCategoryBot" parameterType="int" resultType="categoryBot">
		select * from category_bot where ctno = #{ctno}
	</select>
	
	<insert id="productInsert" parameterType="map">
		insert into product values(seq_pno.nextval, #{pname},#{ctno},#{cbno},#{seller})
	</insert>
	<select id="getPno" parameterType="map" resultType="int">
		select pno from product where pname = #{pname} and seller = #{seller} 
	</select>
	<insert id="productDetailInsert" parameterType="map">
		insert into product_detail values(#{pno}, #{price}, #{ea}, #{detail}, #{maker})
	</insert>
	<insert id="insertFileList" parameterType="map">
		insert into product_file values(#{pno}, seq_fno.nextval, #{path})
	</insert>
	<delete id="deleteImage" parameterType="map">
		delete from product_file where pno = #{pno} and fno = #{fno}
	</delete>
	<update id="productUpdate" parameterType="map">
		update PRODUCT set 
		pname = #{pname},ctno = #{ctno}, cbno = #{cbno} where pno = #{pno}
	</update>
	<update id="productDetailUpdate" parameterType="map">
		update PRODUCT_DETAIL set 
		price = #{price}, ea = #{ea}, detail = #{detail}, maker = #{maker} where pno = #{pno}
	</update>
	
	<select id="selectFileName" parameterType="map" resultType="String">
		select * from product_file where pno = #{pno} and fno = #{fno}
	</select>
 </mapper>